@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Roboto&display=swap');
/*RESET*/
* {
	padding: 0;
	margin: 0;
	border: 0px solid var(--darkest-color);
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
/* ul li {
	list-style: none;
} */
img {
	vertical-align: top;
}
/* Вище початкова розмітка */

:root{
    font-family: 'Heebo', sans-serif;
}

* {
    padding: 0;
    margin: 0;
  }
  .heading-bg{
      display: block;
      width: 100%;
      height: 900px ;
      background: url(../img/firs_fon.png) no-repeat; 
      background-size: cover;
      margin: 0 auto;
      background-attachment: fixed;   
  }
  .dark-bg{
      display: block;
      position: absolute;
      width: 100%;
      height: 900px;
      opacity: 0.5;
  }
 .containerr {
     max-width: 1200px;
     min-width: 290px;
     margin: auto;
     padding: 0 30px;
     font-family: 'Heebo', sans-serif;
 }
    .top-info-block{
        width: 100%;
        height: auto;
        padding: 10px 0;
        background:rgb(000, 000,000,0.3) ;
    }
    
    .social-width{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .email {
        display: flex;
        width: auto;
        text-decoration: none;
        color:#a9a9a9;
    }
    
    .social-icons  {
        display: flex;
        
        
    }
    .social-icons svg {
        width: 30px;
        height: 30px;
        margin-left: 10px;
        
    }
 
.heading {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 16px 30px ;
}
#type-button{
    border-color: #fff;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .show>.nav-link  {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.phone_number{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #ffc61a;
    
}
.phone_number a {
    color: #ffc61a;
    text-decoration: none;
}
@media(min-width:768px){
    .form-info{
         display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    } 

}

.form_car {
    display: flex;
    width: 100%;
    height: 100%;
    background:#fff;
    flex-direction: column;
    padding: 20px;
}
.form_car input {
    width: 390px;
    height: 50px;
    border: 1px solid #a9a9a9;
    margin: 10px 0 ;
    padding: 0 0 0 10px;
}
.form_car input[type="checkbox"]{
    width:10px;
    height:10px;
    display: block;
    
}
.form_car input[type="submit"]{
background-color:#ffc61a ;
}
.form_car input[type="submit"]:hover{
background-color:#000 ;
color:#ffc61a ;
transition: all 0.5s ease;
}
.form_car h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.line-firs{
    margin-bottom: 20px;
}
.more h1 {
    display: block;
    color:#fff;
    margin-bottom: 30px;
    margin-right: 150px;
    font-size: 60px;
}
.line-two{
    margin-bottom: 30px;
}
.more h3 {
    display: block;
    color:#a9a9a9;
    margin-bottom: 40px;
    font-size: 20px;
}
.more a {
    background-color:#ffc61a ;
    width: auto;
    border: 3px solid black;
    height: 11%;
    width: 40%;
    font-size: 20px ;
    text-align: center;
}
#welcome {
    color: #fff;
    padding: 10px;
}
#welcomee{
    color: black;
    font-weight: 800;
    font-size: 50px;
}

.more [type="submit"]:hover{
    background-color:#000 ;
    color:#ffc61a ;
    transition: all 0.5s ease;
}
#our_fleet {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #ffc61a;
}
.class_taxi h2 {
    display: flex;
    justify-items: center;
    font-size: 50px;
    margin-top: 30px;
}
.line-three{
    display:block;  
    margin-top: 30px;
}
.class_taxi h3 {
    display: flex;
    justify-content: center;
    color: #a9a9a9;
    font-size: 20px;
    margin-top: 30px;
}
.products-carousel{
    display: block;
    text-align: center;
    height: auto;
    margin-top: 30px;
}
.taxi_service{
    width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr;  
}

.service-car #about_us{
    color:#ffc61a ;
    font-size: 16px;
    margin-top: 100px;
}


.service-opis {
    color: #a9a9a9;
    font-weight: 400;
    font-size: 17px;
    
}
.taxi_sevice h4{
    color: #a9a9a9;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.5;
    
}
.taxi-car-service{
    background-image: url(../img/side_car.webp) ; 
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.service-car h5{
    color: #a9a9a9;
    

    
}
.service-car img{
    width: 50px;
    
}

.service-car{
    display: block;
      width: 100%;
      margin-bottom: 100px;
     
      max-width: 50%;
      margin-top: 100px;
      /* background: url(../img/side_car.webp) ;  */
}

.second-fon{
    display: block;
      background: url(../img/second_fon.webp) no-repeat; 
      background-size: cover;
      background-attachment: fixed; 
    
        
      /* margin: 100px 100px; */
      
  }
  .sse{
    background: rgba(32, 32, 37, 0.85);
    padding-top: 70px;
    padding-bottom: 70px;
  }
    .book_in_smartphone{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        max-width: 65%;
    }
.book_in_smartphone h4 {
    color: #ffc61a;
    font-size: 20px;
    font-weight: 400;  
    
}
.book_in_smartphone h2 {
    font-size: 72px;
    font-weight: 700;
    color: #fff;
    margin-top: 20px;
}
.color{
    color: #ffc61a;
    max-width: 70%;
}
.book_in_smartphone h3{
    color: #fff;
    margin-top: 40px;
}
.book_in_smartphone button {
    background-color:#ffc61a;
    margin-top: 30px;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;

}
.book_in_smartphone [class="download"]:hover{
    background-color:#ffc61a;
    background-color:#000 ;
    color:#ffc61a ;
    transition: all 0.5s ease;
}

.download{
    display: flex;
    padding: 10px 20px;
    
}
.photo-phone img {
    width: 70%;
}
#download{
    
    color:#ffc61a;
    margin-top: 20px;
}
.download-app h3{
    font-weight: 800;
    font-size: 40px;
}
.download-app h4{
    color: #a9a9a9;
    font-weight: 300;
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.2;
}
.download-app ul{
    list-style-image: url("../img/galocka.svg");
    font-size: 18px;
    color: #a9a9a9;
    line-height: 2;
    margin-top: 10px;
    
}
.download-app img {
    width:  70%;;
}
.discount{
    background-color:#ffc61a;
}
.discount img{
    size: 500px;
}
.discount-time h3{
    display: flex;
    justify-content: center;
    color: #000;
    font-weight: 800;
    font-size: 70px;
}
.line-five {
    display: flex;
    justify-items: center;
    margin:10px 10px;
}

.discount-time h5{
    display: flex;
    justify-content: center;
    font-weight: 400;

}
.car-tipe-nyc img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 80%;
}
.start-feadback{
    background-color:#202025;
}
.statistic{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    
}
.statistic h2{
    margin-top: 60px;
    color: #ffc61a;
    font-weight: 800;
    font-size: 80px;
}
.statistic h4{
    color: gray;
    margin-top: 10px;
    font-weight: 700;
    
}
.feedback-bg{
    background-color:#202025;
}
.feedback{
    display: block;
    text-align: center;
}
.feedback h5{
    color: #ffc61a;
    font-weight: 600;
    font-size: 20px;
}
.feedback h3{
    color: #fff;
    font-weight: 800;
    font-size: 50px;
} 
.feedback h4{
    color: gray;
    font-size: 25px;
    font-weight: 400;
    margin-top: 20px;

}   
.faq-bg{
    background-color:#202025;
}
.faq{
    display: block;
    text-align: center;
    justify-content: center;
}
.faq h4{
    color: #ffc61a;
    margin-bottom:20px ;
}
.faq h3{
    font-weight: 800;
    font-size: 50px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}
.faq h5 {
    font-weight: 600;
    font-size: 20px;
    color: gray;
    margin-top: 30px;
}
.bg-footer-contacts{
    background-color:#ffc61a;
    padding-top: 110px;
    padding-bottom: 110px;
}
.footer-contacts{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

.contact_info h3 {
    font-size: 30px;
    font-weight: 1000;
    margin-top: 30px; 
}
.contact_info h5{
    font-weight: 300;
    font-size: 20px;
    margin-top: 20px;
}
.contact_socials h3{
    font-size: 30px;
    font-weight: 1000;
    margin-top: 30px; 
}
.contact_email h3{
    font-size: 30px;
    font-weight: 1000;
    margin-top: 30px; 
}
.contact_email h5{
    font-weight: 300;
    font-size: 20px;
    margin-top: 20px;
}
.bg-footer{
    background-color:#202025;
    padding-top: 110px;
    padding-bottom: 110px;
}
.footer-final{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.logo-text h5{
    color: #a9a9a9;
    margin-top: 20px;
    margin-right: 20px;
}
.about-company h3{
    color: #fff;
    font-weight: 700;
    font-size: 25px;
}
.about-company a {
    color: #a9a9a9;
}
.for-drivers-foter h3{
    color: #fff;
    font-weight: 700;
    font-size: 25px;
}
.for-drivers-foter a {
    color: #a9a9a9;
}
/* .for-drivers-foter a:hover{
    color: #ffc61a;
} */
.receive-foter h3{
 color: #fff;
    font-weight: 700;
    font-size: 25px;
}
.receive-foter a {
    color: #a9a9a9;
}
.receive-foter  input[type="submit"]{
    background-color:#ffc61a ;
    padding: 15px 50px 15px 50px;
    }
    .receive-foter input[type="submit"]:hover{
    background-color:#000 ;
    color:#ffc61a ;
    transition: all 0.5s ease;
    }

.copirate{
    background-color:black;
}
.text-copirate{
    display: flex;
    justify-content: space-between;
    color: #a9a9a9;
    padding-top: 10px;
    padding-bottom: 10px;
}


    .categories-carousel {
        display: grid;

    }
    
    @media (min-width: 768px) {
        .categories-carousel {
            display: grid;
            grid-template-columns: 30px 650px 30px;
            gap: 20px;
        }
    }
    
    @media (min-width: 992px) {
        .categories-carousel {
            grid-template-columns: 30px 850px 30px;
        }
    }
    
    @media (min-width: 1200px) {
        .categories-carousel {
            grid-template-columns: 35px 1000px 35px;
        }
    }
    
    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        /* justify-content: space-between; */

    
    }
    
    .card-button {
        font-size: 60px;
        color:gray;
        background: none;
        border: none;
    }
    .car-categories{
        background:#ffc61a;
        margin-top: 40px;
    }
    .car-categories h3{
        font-size: 40px;
        font-weight: 900;
        color: black;
    }
    .car-categories p {
        padding-top: 20px;
        margin: auto;
        text-align: center;
        padding-bottom: 30px;
        font-size: 20px;
        font-weight: 500;
    }
    .car-categories img {
        padding-top: 60px;
        max-width: 100%;
        margin: auto;
        max-width:200px;
    }
    
    .car-categories a {
        padding: 15px 30px;
        display: block;
        margin: auto;
    }