@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Roboto&display=swap');

:root{
    font-family: 'Heebo', sans-serif;


}
 /* .heading {
    display: block;
	min-width: 290px;
	height: auto;
	background: url(../img/firs_fon.webp) no-repeat;
	background-size: cover;
	padding: 100px 0; */
 
.paralax {
  background-image: url(../img/firs_fon.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  margin: auto;
  color: var(--accent-color);
  display: flex;
  flex-direction: column;
}

* {
    padding: 0;
    margin: 0;
  }

  body {
    max-width : 980px;
    margin: auto;
  }

#icons  {


    display:flex;
    justify-content: flex-end;
}
#icons img {
    width: 30px;
    text-align: center;

    width: 30px;   
}

. a {
    text-decoration: none;
    color: black;
    display: inline;
    justify-content:center;
}
 .phone_number{
    display: flex;
    justify-content:flex-end;
    color: yellow;
    text-transform: uppercase;
}
.navagation {

    display:flex;
}


/*#logo {
    background-image:url(../img/firs_fon.webp);
    background-size: cover;
    background-position: center;
}*/
.more{

    font-family: 'Heebo', sans-serif;
    font-size: 100%;
}


.products-carousel{
    display: block;
    text-align: center;
    height: auto;
}