@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Roboto&display=swap');
/*RESET*/
* {
	padding: 0;
	margin: 0;
	border: 0px solid var(--darkest-color);
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
/* Вище початкова розмітка */

:root{
    font-family: 'Heebo', sans-serif;
}

* {
    padding: 0;
    margin: 0;
  }

  .heading-bg{
      display: block;
      width: 100%;
      height: 900px ;
      background: url(../img/firs_fon.png) no-repeat; 
      background-size: cover;
      margin: 0 auto;
      background-attachment: fixed;   
  }
  .dark-bg{
      display: block;
      position: absolute;
      width: 100%;
      height: 900px;
      opacity: 0.5;
  }
 .containerr {
     max-width: 1200px;
     min-width: 290px;
     margin: auto;
     padding: 0 30px;
 }
    .top-info-block{
        width: 100%;
        height: auto;
        padding: 10px 0;
        background:rgb(000, 000,000,0.3) ;
    }
    .social-width{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .email {
        display: flex;
        width: auto;
        text-decoration: none;
        color:grey;
    }
    
    .social-icons  {
        display: flex;
        width: auto;
        
    }
    .social-icons img {
        width: 30px;
        height: 30px;
        
    }
 
.heading {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 16px 30px ;
}
/* .navbar-light {
   Колір нав бару , бустрап 
    color:#fff;
} */

.phone_number{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #ffc61a;
    
}
.phone_number a {
    color: #ffc61a;
    text-decoration: none;
}

.form-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.form_car {
    display: flex;
    width: 100%;
    height: 100%;
    background:#fff;
    flex-direction: column;
    padding: 20px;
}
.form_car input {
    width: 390px;
    height: 50px;
    border: 1px solid grey;
    margin: 10px 0 ;
    padding: 0 0 0 10px;
}
.form_car input[type="checkbox"]{
    width:10px;
    height:10px;
    
}
.form_car input[type="submit"]{
background-color:#ffc61a ;
}
.form_car input[type="submit"]:hover{
background-color:#000 ;
color:#ffc61a ;
transition: all 0.5s ease;
}
.form_car h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.line-firs{
    margin-bottom: 20px;
}
.more h1 {
    display: block;
    color:#fff;
    margin-bottom: 30px;
    margin-right: 150px;
    font-size: 60px;
}
.line-two{
    margin-bottom: 30px;
}
.more h3 {
    display: block;
    color:grey;
    margin-bottom: 40px;
    font-size: 20px;
}
.more a {
    background-color:#ffc61a ;
    width: auto;
    border: 3px solid black;
    height: 11%;
    width: 40%;
    font-size: 20px ;
}

.more [type="submit"]:hover{
    background-color:#000 ;
    color:#ffc61a ;
    transition: all 0.5s ease;
    
}









.products-carousel{
    display: block;
    text-align: center;
    height: auto;
}



